*{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100%;
    line-height: 30px;
    margin: 0px;
    padding: 0px;
}

body{
}

.flex-top{
    display: flex;
    align-items: center;
    background-color: orange;
}

main{
    text-align: center;
}

footer{
    background-color: black;
    color: white;
    padding: 30px;
    text-align: center;
}

.logo{
    margin: auto;
}

.logo img{
    width: 100px;
}

.menudesk{
    margin: auto;
}

.menudesk li{
    list-style: none;
    display: inline-block;
}

.menudesk a{
    display: block;
    padding: 16px 10px;
    text-decoration: none;
    transition: 0.5s;
    color: white;
}

.menudesk a:hover{
    text-decoration: underline;
    transform: scale(1.1);
}

.menu-mobile{
    margin: auto;
    transition: 0.5s;
    display: none;
}

.menu-ocult{
    background-color: orange;
    position: absolute;
    width: 100%;
    display: none;
    text-align: center;
}

.menu-ocult li{
    list-style: none;
}

.menu-ocult a{
    display: block;
    padding: 16px 10px;
    text-decoration: none;
    transition: 0.5s;
    color: white;
}

.menu-ocult a:hover{
    text-decoration: underline;
    transform: scale(1.1);
}

.menu-mobile img{
    width: 80px;
}

.menu-mobile:hover{
    transform: scale(1.1);
}

/*Corpo aqui*/

.flex-corp{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bloco{
    background-color: orange;
    width: 300px;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    color: white;
}

.bloco a{
    text-align: center;
    display: block;
    color: green;
    font-weight: bold;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    margin: 10px 0px;
    text-decoration: none;
    transition: 0.5s;
}

.bloco a:hover{
    text-decoration: underline;
}


.bloco details{
    text-align: justify;
    color: blue;
}

.bloco p{
    text-align: justify;
}

/*Corpo termina aqui*/

@media screen and (max-width: 800px) {
    .menudesk{
        display: none;
    }
    
    .menu-ocult{
        display: none;
    }

    .menu-mobile{
        display: block;
    }
}